<div class="row text-center">
    <div class="col-xs-4 col-sm-6"></div>
    <div class="col-xs-4 col-sm-3">
        <a ui-sref="profile.followers({userId: changePasswordControllerModel.loggedOnUser._id})">
            <div class="row">
                <h4>Followers</h4>
            </div>
            <div class="row">
                {{changePasswordControllerModel.loggedOnUser.followers.length}}
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-sm-3">
        <a ui-sref="profile.following({userId: changePasswordControllerModel.loggedOnUser._id})">
            <div class="row">
                <h4>Following</h4>
            </div>
            <div class="row">
                {{changePasswordControllerModel.loggedOnUser.following.length}}
            </div>
        </a>
    </div>
</div>

<h1 class="page-header less-top-margin">Change Password</h1>

<div>
    <form>
        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                <input type="password" class="form-control" placeholder="Old Password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                <input type="password" class="form-control" placeholder="New Password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                <input type="password" class="form-control" placeholder="Verify Password">
            </div>
        </div>
        <div class="form-group">
            <a href="" class="btn btn-success btn-block">Update</a>
        </div>
    </form>
</div>