<h1 class="page-header">Dislikes !</h1>

<div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
    <div class="col-sm-6 col-md-4">
        <a href="" class="thumbnail">
            <img src="/experiments/project/images/movie-image.jpg" />
        </a>
    </div>
</div>