<h1 class="page-header">Following !</h1>

<div ng-repeat="user in followingControllerModel.users">
    <div class="media">
        <a class="media-left" href="">
            <img class="media-object media-object-movie img-circle" src="/experiments/project/images/profile-image.png"
                 alt="">
        </a>
        <div class="media-body">
            <h3 class="media-heading">
                {{user.firstName + " " +user.lastName}}
            </h3>
        </div>
    </div>

    <hr>
</div>