<h1 class="page-header">Likes !</h1>

<div ng-repeat="movie in likesControllerModel.movies">
    <div class="media">
        <a class="pull-left" href="">
            <img class="media-object media-object-movie" ng-src={{movie.imageUrl}} alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a ui-sref="details({movieId: movie._id})">
                    {{movie.title}}
                </a>
            </h4>
            <h4>
                <a href="" ng-click="likesControllerModel.likeMovie($index)"
                   ng-hide="movie.isLiked">
                    <i class="fa fa-thumbs-o-up orange"></i>
                </a>
            </h4>
            <h4>
                <a href="" ng-click="likesControllerModel.undoLikeMovie($index)"
                   ng-show="movie.isLiked">
                    <i class="fa fa-thumbs-o-up green"></i>
                </a>
            </h4>
        </div>
    </div>

    <hr>
</div>