<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController as sidebarControllerModel">
    <ul class="nav nav-sidebar">
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".edit-profile({username: profileControllerModel.username})">Edit Profile</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".change-password({username: profileControllerModel.username})">Change Password</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".followers({username: profileControllerModel.username})">Followers</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".following({username: profileControllerModel.username})">Following</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".reviews({username: profileControllerModel.username})">Reviews</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".likes({username: profileControllerModel.username})">Likes</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".dislikes({username: profileControllerModel.username})">Dislikes</a>
        </li>
        <li ng-show="user">
            <a href=""
               ng-click="sidebarControllerModel.follow()"
               ng-hide="sidebarControllerModel.alreadyFollowing"
               class="btn btn-block btn-success">Follow
            </a>
        </li>
        <li ng-show="user">
            <a href=""
               ng-click="sidebarControllerModel.unfollow()"
               ng-show="sidebarControllerModel.alreadyFollowing"
               class="btn btn-block btn-danger">Unfollow
            </a>
        </li>
    </ul>
</div>