<div id="sidebar-wrapper" ng-controller="SidebarController as sidebarControllerModel">
    <ul class="sidebar-nav">
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".edit-profile({userId: profileControllerModel.userId})">Edit Profile</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".change-password({userId: profileControllerModel.userId})">Change Password</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".followers({userId: profileControllerModel.userId})">Followers</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".following({userId: profileControllerModel.userId})">Following</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".reviews({userId: profileControllerModel.userId})">Reviews</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".likes({userId: profileControllerModel.userId})">Likes</a>
        </li>
        <li ui-sref-active="active" ng-show="user">
            <a ui-sref=".dislikes({userId: profileControllerModel.userId})">Dislikes</a>
        </li>
        <li ng-show="user._id != sidebarControllerModel.navigateUserId">
            <a href=""
               ng-click="sidebarControllerModel.follow()"
               ng-hide="sidebarControllerModel.alreadyFollowing"
               class="btn btn-block btn-success">Follow
            </a>
        </li>
        <li ng-show="user._id != sidebarControllerModel.navigateUserId">
            <a href=""
               ng-click="sidebarControllerModel.unfollow()"
               ng-show="sidebarControllerModel.alreadyFollowing"
               class="btn btn-block btn-danger">Unfollow
            </a>
        </li>
    </ul>
</div>