/**********************************************************************************************************************/

/* Glyphicons - admin.view.html, forms.view.html, fields.view.html */

.plusicon {
    font-size: 16px;
    color: blue;
}

.okicon {
    font-size: 16px;
    color: green;
}

.removeicon {
    font-size: 16px;
    color: red;
}

.pencilicon {
    font-size: 16px;
    color: brown;
}

.pencilicon-hide {
    visibility: hidden;
}

.justifyicon {
    font-size: 16px;
    color: black;
}

/**********************************************************************************************************************/

/* Table*/
/* Table Header - admin.view.html, forms.view.html */

.theadrow {
    background-color: #cccccc;
}

.th-action {
    width: 70px;
}

/* Table Bordered - admin.view.html, forms.view.html */

.table-bordered > tbody > tr > td {
    vertical-align: middle;
}

/**********************************************************************************************************************/

/* Row - fields.view.html */

.fieldrow {
    margin-top: 10px;
}

/**********************************************************************************************************************/

/* Div - forms.view.html, fields.view.html */

.form-div {
    border: 1px solid #ddd;
}

.form-div-inner {
    margin: 10px;
}

.selected-form {
    background-color: #D9E4EC !important;
}

/**********************************************************************************************************************/

/* Navbar */
/* Extra Small Devices */
.navbar-for-xs {
    background-color: #f5f5f5;
}

.div-for-xs-active {
    padding: 10px;
    text-align: center;
    background-color: #428bca;
}

.div-for-xs-active > a:focus, .div-for-xs-active > a:hover {
    text-decoration: none;
}

.div-for-xs {
    padding: 10px;
    text-align: center;
}

.div-for-xs > a:focus, .div-for-xs > a:hover {
    text-decoration: none;
}

.a-for-xs-active {
    color: white;
    text-decoration: none;
}

.a-for-xs {
    color: #428bca;
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}

/**********************************************************************************************************************/