@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

body {
    background-color: #FDFDFD;
}

.div-login, .div-register, .div-forgot-password {
    margin-top: 60px;
}

.div-login-main, .div-register-main, .div-forgot-password-main {
    background-color: white;
    border: 1px solid #eee;
    padding: 25px;
}

.h3-login-main, .h3-register-main {
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-search {
    color: white;
    background-color: #337ab7;
}

.instructions {
    color: #777;
}

.jumbotron {
    margin-top: 20px;
}

.h3-page-header {
    margin: 0px 0 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
}

.nowrap {
    white-space: nowrap;
}

.nomargin {
    margin: 0px;
}

.orange {
    color: #FFA500;
}

.green {
    color: #008000;
}

.media-object-movie {
    max-height: 100px;
    max-width: 100px;
}

#myCarousel {
    margin-bottom: 30px;
}