/**********************************************************************************************************************/

/* Glyphicons */

.plusicon {
    font-size: 16px;
    color: blue;
}

.okicon {
    font-size: 16px;
    color: green;
}

.removeicon {
    font-size: 16px;
    color: red;
}

.pencilicon {
    font-size: 16px;
    color: yellow;
}

/**********************************************************************************************************************/

/* Table Bordered */
.table-bordered>tbody>tr>td {
    vertical-align: middle;
}

/**********************************************************************************************************************/