@media (max-width: 767px) {
    .inner {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .inner {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .inner {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .inner {
        width: 60%;
    }
}

.outer {
    position: relative;
}

.inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    margin: auto;
}