<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms : {{fieldControllerModel.formTitle}}</h1>

    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="">Fields</a></li>
    </ul>

    <div class="form-div">
        <div class="form-div-inner" field-sortable field-axis="y">
            <div ng-repeat="field in fieldControllerModel.fields">
                <div class="row fieldrow">
                    <div class="row col-xs-12">
                        <label class="col-xs-12 control-label">{{field.label}}:</label>
                    </div>
                    <div class="row col-xs-12">
                        <div class="col-xs-6" ng-switch="field.type">
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}"
                                   ng-switch-when="TEXT">
                            <textarea class="form-control" rows="3"
                                      ng-switch-when="TEXTAREA">{{field.placeholder}}</textarea>
                            <input type="date" class="form-control" placeholder="Select Date"
                                   ng-switch-when="DATE">
                            <select class="form-control" ng-switch-when="OPTIONS">
                                <option ng-repeat="opt in field.options"
                                        value="{{opt.value}}">
                                    {{opt.label}}
                                </option>
                            </select>
                            <div ng-repeat="checkbox in field.options" ng-switch-when="CHECKBOXES">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{{checkbox.value}}">{{checkbox.label}}</label>
                                </div>
                            </div>
                            <div ng-repeat="radio in field.options" ng-switch-when="RADIOS">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" value="{{radio.value}}">
                                        {{radio.label}}
                                    </label>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="{{field.placeholder}}"
                                   ng-switch-default>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-1">
                                    <a href="" ng-click="fieldControllerModel.editField(field)" data-toggle="modal"
                                       data-target="#myModal"><span
                                            class="glyphicon glyphicon-pencil pencilicon pull-left"
                                            aria-hidden="true"></span></a>
                                </div>
                                <div class="col-xs-1">
                                    <a href="" ng-click="fieldControllerModel.cloneField(field._id)"><span
                                            class="glyphicon glyphicon-plus plusicon pull-left"
                                            aria-hidden="true"></span></a>
                                </div>
                                <div class="col-xs-1">
                                    <a href="" ng-click="fieldControllerModel.removeField(field._id)"><span
                                            class="glyphicon glyphicon-remove removeicon pull-left"
                                            aria-hidden="true"></span></a>
                                </div>
                                <div class="col-xs-1">
                                    <a href="#" class="sortHandle"><span
                                            class="glyphicon glyphicon-align-justify justifyicon pull-left"
                                            aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-div-inner">
            <hr>
            <div class="row fieldrow">
                <div class="row col-xs-12">
                    <label for="addnewfield" class="col-xs-12 control-label">Add New Field:</label>
                </div>
                <div class="row col-xs-12">
                    <div class="col-xs-6">
                        <select class="form-control" id="addnewfield" ng-model="fieldControllerModel.fieldType">
                            <option ng-repeat="ft in fieldControllerModel.fieldTypes"
                                    value="{{$index}}">
                                {{ft}}
                            </option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-1">
                                <a href="#"><span
                                        class="glyphicon glyphicon-pencil pencilicon pull-left pencilicon-hide"
                                        aria-hidden="true"></span></a>
                            </div>
                            <div class="col-xs-1">
                                <a href=""
                                   ng-click="fieldControllerModel.addField(fieldControllerModel.fieldType)"><span
                                        class="glyphicon glyphicon-plus plusicon pull-left"
                                        aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" ng-click="fieldControllerModel.reset()" class="close" data-dismiss="modal"
                   aria-label="Close"><span
                        aria-hidden="true">&times;</span></a>
                <h4 class="modal-title" id="myModalLabel">{{fieldControllerModel.newFieldType}}</h4>
            </div>
            <div class="modal-body">
                <form ng-switch="fieldControllerModel.newField.type">
                    <div class="form-group">
                        <label for="label">Label:</label>
                        <input type="text" class="form-control" id="label"
                               value="{{fieldControllerModel.newField.label}}"
                               ng-model="fieldControllerModel.newField.label">
                    </div>
                    <div class="form-group" ng-switch-when="TEXT">
                        <label for="placeholder">Placeholder:</label>
                        <input type="text" class="form-control" id="placeholder"
                               value="{{fieldControllerModel.newField.placeholder}}"
                               ng-model="fieldControllerModel.newField.placeholder">
                    </div>
                    <div class="form-group" ng-switch-when="TEXTAREA">
                        <label for="placeholder">Placeholder:</label>
                        <input type="text" class="form-control" id="placeholder"
                               value="{{fieldControllerModel.newField.placeholder}}"
                               ng-model="fieldControllerModel.newField.placeholder">
                    </div>
                    <div class="form-group" ng-switch-when="OPTIONS">
                        <label for="options">Options:</label>
                        <textarea class="form-control" id="options"
                                  ng-model="fieldControllerModel.options"
                                  rows="{{fieldControllerModel.rows}}"
                                  ng-list="&#10;"
                                  ng-trim="false"></textarea>
                    </div>
                    <div class="form-group" ng-switch-when="CHECKBOXES">
                        <label for="options">Options:</label>
                        <textarea class="form-control" id="options"
                                  ng-model="fieldControllerModel.options"
                                  rows="{{fieldControllerModel.rows}}"
                                  ng-list="&#10;"
                                  ng-trim="false"></textarea>
                    </div>
                    <div class="form-group" ng-switch-when="RADIOS">
                        <label for="options">Options:</label>
                        <textarea class="form-control" id="options"
                                  ng-model="fieldControllerModel.options"
                                  rows="{{fieldControllerModel.rows}}"
                                  ng-list="&#10;"
                                  ng-trim="false"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="fieldControllerModel.reset()" class="btn btn-default"
                   data-dismiss="modal">Close
                </a>
                <a href="" ng-click="fieldControllerModel.updateField(fieldControllerModel.newField)"
                   class="btn btn-primary" data-dismiss="modal">Save changes
                </a>
            </div>
        </div>
    </div>
</div>