<div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active:!$index}" ng-repeat="slide in homeControllerModel.slides">
                <img ng-src="{{slide.imageUrl}}">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Movie Time</h1>
                    <p>An Online Movie Store</p>
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" ng-model="homeControllerModel.movie.title"
                               placeholder="Search for a movie by title">
                        <a ui-sref="home({movieTitle: homeControllerModel.movie.title})"
                           class="input-group-addon input-lg btn-primary btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control"
               href=""
               ng-click="homeControllerModel.slide('prev')"
               role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control"
               href=""
               ng-click="homeControllerModel.slide('next')"
               role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <div class="row container">
        <h3 class="page-header h3-page-header">{{homeControllerModel.pageHeader}}</h3>
    </div>

    <div class="row">
        <div ng-repeat="movie in homeControllerModel.movies | limitTo:18">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <span class="label label-default pull-right">Release: {{movie.release_date}}</span>
                    <a ui-sref="details({movieId: movie.id})">
                        <div class="caption">
                            <h3>{{movie.title | limitTo:20}}{{movie.title.length > 20 ? "..." : ""}}</h3>
                        </div>
                        <img class="img-responsive" ng-src="{{movie.imageUrl}}"/>
                    </a>
                    <div class="caption">
                        <h5>{{movie.overview | limitTo:100}}{{movie.overview.length > 100 ? "..." : ""}}</h5>
                    </div>
                    <hr class="nomargin">
                    <div class="caption">
                        <h5 class="text-muted">{{movie.genres[0] + " " + movie.genres[1] + " " + movie.genres[2]}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>