<div class="panel panel-default">

    <img class="img-responsive" ng-src="{{imageUrl + movie.backdrop_path}}"/>

    <div class="panel-body">
        <h2>{{movie.title}}</h2>
        <hr>
        <h5>Plot</h5>
        <p>{{movie.overview}}</p>
        <h5>Release Date</h5>
        <p>{{movie.release_date}}</p>
        <h5>Popularity</h5>
        <p>{{movie.popularity}}</p>
        <h5>Genres</h5>
        <ul ng-repeat="movieGenre in movie.genres">
            <li>{{movieGenre.name}}</li>
        </ul>
        <h5>Production Companies</h5>
        <ul ng-repeat="movieProductionCompany in movie.production_companies">
            <li>{{movieProductionCompany.name}}</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Reviews</h3>
    </div>

    <div ng-repeat="review in reviews">
        <div class="panel-body">
            <div ng-if="selectedIndex === $index">
                <p>
                    <i class="fa fa-star-o fa-2x"></i>
                    <i class="fa fa-star-o fa-2x"></i>
                    <i class="fa fa-star-o fa-2x"></i>
                    <i class="fa fa-star-o fa-2x"></i>
                    <i class="fa fa-star-o fa-2x"></i>
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Please enter title of the review"
                               ng-model="editReview.title"/>
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter description of the review"
                              ng-model="editReview.description"></textarea>
                    </div>
                </form>
            </div>

            <div class="media" ng-hide="selectedIndex === $index">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{review.title}}
                        <small>
                        <span>
                            <i class="fa fa-star-o fa-1x"></i>
                            <i class="fa fa-star-o fa-1x"></i>
                            <i class="fa fa-star-o fa-1x"></i>
                            <i class="fa fa-star-o fa-1x"></i>
                            <i class="fa fa-star-o fa-1x"></i>
                        </span>
                        </small>
                    </h4>
                    <h4 class="media-heading">
                        <small>By <a href="">{{findUserFirstNameByUserId(review.userId)}}</a> on {{review.timestamp | date : 'mediumDate'}}</small>
                    </h4>
                    <p class="text-justify">
                        {{review.description}}
                    </p>
                </div>
            </div>

            <div class="btn-group-md pull-right">
                <a href="" class="btn btn-success" role="button" ng-if="selectedIndex === $index" ng-click="updateReview(editReview)">Update</a>
                <a href="" class="btn btn-danger" role="button" ng-if="selectedIndex === $index" ng-click="cancelReview()">Cancel</a>
            </div>

            <div class="btn-group-md pull-right">
                <a href="" class="btn btn-warning" role="button" ng-if="selectedIndex !== $index" ng-click="selectReview($index)">Edit</a>
                <a href="" class="btn btn-danger" role="button" ng-if="selectedIndex !== $index" ng-click="deleteReview($index)">Delete</a>
            </div>
        </div>

        <!--<hr>-->
        <!--<hr>-->

        <!--<div class="panel-body">-->
        <!--<p>-->
        <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--</p>-->

        <!--<form ng-if="selectedIndex === $index">-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" placeholder="Please enter title of the review"-->
        <!--ng-model="editReview.title"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<textarea class="form-control" rows="3" placeholder="Please enter description of the review"-->
        <!--ng-model="editReview.description"></textarea>-->
        <!--</div>-->
        <!--<a href="" class="btn btn-success" ng-click="updateReview(editReview)" role="button">Update</a>-->
        <!--<a href="" class="btn btn-danger" ng-click="cancelReview()" role="button">Cancel</a>-->
        <!--</form>-->

        <!--<div ng-hide="selectedIndex === $index">-->
        <!--<h3 class="media-heading">{{review.title}}-->
        <!--<small>{{review.timestamp | date : 'mediumDate'}}</small>-->
        <!--</h3>-->
        <!--<p>-->
        <!--{{review.description}}-->
        <!--</p>-->
        <!--</div>-->

        <!--<div class="btn-group-md pull-right">-->
        <!--<a href="" ng-if="selectedIndex !== $index" ng-click="selectReview($index)" class="btn btn-warning"-->
        <!--role="button">Select</a>-->
        <!--<a href="" ng-click="deleteReview($index)" class="btn btn-danger" role="button">Delete</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<hr>-->
        <!--<hr>-->

        <!--<div class="panel-body">-->
        <!--<div class="media">-->
        <!--<a class="pull-left" href="#">-->
        <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
        <!--</a>-->
        <!--<div class="media-body">-->
        <!--<h4 class="media-heading">Lorem Ipsum-->
        <!--<small>-->
        <!--<span>-->
        <!--<i class="fa fa-star-o fa-1x"></i>-->
        <!--<i class="fa fa-star-o fa-1x"></i>-->
        <!--<i class="fa fa-star-o fa-1x"></i>-->
        <!--<i class="fa fa-star-o fa-1x"></i>-->
        <!--<i class="fa fa-star-o fa-1x"></i>-->
        <!--</span>-->
        <!--</small>-->
        <!--</h4>-->
        <!--<h4 class="media-heading">-->
        <!--<small>By <a href="">FirstName</a> on Mar 10, 2016</small>-->
        <!--</h4>-->
        <!--<p>-->
        <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.-->
        <!--Cras-->
        <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi-->
        <!--vulputate-->
        <!--fringilla. Donec lacinia congue felis in faucibus.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="media">-->
        <!--<a class="pull-left" href="#">-->
        <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
        <!--</a>-->
        <!--<div class="media-body">-->
        <!--<h4 class="media-heading">Leave a comment:-->
        <!--</h4>-->
        <!--<form role="form">-->
        <!--<div class="form-group">-->
        <!--<textarea class="form-control" rows="1"></textarea>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</form>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <hr class="nomargin">
    </div>

    <div class="panel-body">
        <div class="well">
            <h4>Write a Review:</h4>
            <p>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
            </p>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Please enter title of the review"
                           ng-model="review.title"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter description of the review"
                              ng-model="review.description"></textarea>
                </div>
                <a href="" class="btn btn-success" ng-click="addReview(review)" role="button">Submit</a>
            </form>
        </div>
    </div>
</div>