<div class="panel panel-default">

    <img class="img-responsive" ng-src="{{imageUrl + movie.backdrop_path}}"/>

    <div class="panel-body">
        <h2>{{movie.title}}</h2>
        <hr>
        <h5>Plot</h5>
        <p>{{movie.overview}}</p>
        <h5>Release Date</h5>
        <p>{{movie.release_date}}</p>
        <h5>Popularity</h5>
        <p>{{movie.popularity}}</p>
        <h5>Genres</h5>
        <ul ng-repeat="movieGenre in movie.genres">
            <li>{{movieGenre.name}}</li>
        </ul>
        <h5>Production Companies</h5>
        <ul ng-repeat="movieProductionCompany in movie.production_companies">
            <li>{{movieProductionCompany.name}}</li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Reviews</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            <h4>Write a Review:</h4>
            <p>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
            </p>
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Please enter title of the review" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter description of the review"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div ng-repeat="review in reviews">
        <hr>
        <hr>

        <div class="panel-body">
            <p>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
                <i class="fa fa-star-o fa-2x"></i>
            </p>

            <h3 class="media-heading">{{review.title}}
                <small>{{review.timestamp}}</small>
            </h3>
            <p>
                {{review.description}}
            </p>

            <hr>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Leave a comment:
                    </h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="1"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--<hr>-->
    <!--<hr>-->

    <!--<div class="panel-body">-->
        <!--<p>-->
            <!--<i class="fa fa-star-o fa-2x"></i>-->
            <!--<i class="fa fa-star-o fa-2x"></i>-->
            <!--<i class="fa fa-star-o fa-2x"></i>-->
            <!--<i class="fa fa-star-o fa-2x"></i>-->
            <!--<i class="fa fa-star-o fa-2x"></i>-->
        <!--</p>-->

        <!--<h3 class="media-heading">Lorem Ipsum-->
            <!--<small>August 25, 2014 at 9:30 PM</small>-->
        <!--</h3>-->
        <!--<p>-->
            <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
            <!--industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
            <!--scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into-->
            <!--electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of-->
            <!--Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like-->
            <!--Aldus PageMaker including versions of Lorem Ipsum.-->
        <!--</p>-->

        <!--<hr>-->

        <!--<div class="media">-->
            <!--<a class="pull-left" href="#">-->
                <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
            <!--</a>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Start Bootstrap-->
                    <!--<small>August 25, 2014 at 9:30 PM</small>-->
                <!--</h4>-->
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras-->
                <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate-->
                <!--fringilla. Donec lacinia congue felis in faucibus.-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="media">-->
            <!--<a class="pull-left" href="#">-->
                <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
            <!--</a>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Start Bootstrap-->
                    <!--<small>August 25, 2014 at 9:30 PM</small>-->
                <!--</h4>-->
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras-->
                <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate-->
                <!--fringilla. Donec lacinia congue felis in faucibus.-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="media">-->
            <!--<a class="pull-left" href="#">-->
                <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
            <!--</a>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Leave a comment:-->
                <!--</h4>-->
                <!--<form role="form">-->
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="1"></textarea>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>